.head-title{
  background-image: url("/images/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  margin: 50px 130px;
  }
  .head-item{
    text-align: center;
    color: #FFF;
    padding: 120px 350px;
  }
  .header-greetings-one{
    font-size: 32px;
    font-weight: 400;
    text-shadow: rgb(0, 0, 0);
  }
  .header-greetings-two{
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
  }