.head-title {
  background-image: url("../images/Banner\ Image.png");
  border-radius: 16px;
  margin: 50px 130px;
}

.head-item {
  text-align: center;
  color: #FFF;
  padding: 120px 350px;
}

.header-greetings-one {
  font-size: 32px;
  font-weight: 400;
  text-shadow: rgb(0, 0, 0);
}

.header-greetings-two {
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
}

/* section related styles */
.section-title {
  text-align: center;
}

.section-item-one {
  color: #FF0000;
  font-size: 88px;
  font-weight: 700;
  margin-top: 150px;
}

.section-item-two {
  color: #FF0000;
  font-size: 20px;
  font-weight: 500;
}

.section-item-three {
  color: #070211;
  font-size: 35px;
  font-weight: 700;
}

.section-img {
  width: 802.9px;
  height: 500px;
}


/* 2nd section related styles */

.section-perty {
  background-image: url("../images/Vectorrr.png");
  background-size: cover;
  display: flex;
  width: 100%;
  height: 600px;
  margin-right: 115px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.section-new-year {
  padding-top: 90px;
  padding-right: 100px;
  height: 400px;
  background: none;
}

.section-perty-title {
  margin-left: 150px;
  padding-top: 30px;
}

.section-perty-one {
  width: 700px;
  color: #FFFFFF;
  font-size: 90px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 0;
}

.section-perty-two {

  width: 650px;
  color: rgba(255, 255, 255, 0.80);
  font-size: 20px;
  font-weight: 400;
}

.section-button-one {
  margin-top: 50px;
  margin-left: 35px;
  color: #FFFFFF;
  border: 1px solid black;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  background: none;
}

/* three section related styles */
.section-tour-title {
  background-color: #ff00000e;
  margin: 0 140px;
  width: 1320px;
  height: 400px;
  padding-top: 150px;
  border-radius: 20px;
}

.orange-color-one {
  color: #F00;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.orange-color-two {
  color: #F00;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.orange-color-three {
  color: #F00;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.section-tour-item {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  padding-right: 30px;
}

.btn-two {
  margin-left: 600px;
  margin-top: 15px;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F00;
  border-style: none;
}

/* four section related styles */
.display-section {
  display: flex;
  background-color: #FFF;
  margin-top: 100px;
  margin-left: 140px;
  /* margin-right: 110px; */
  margin-bottom: 0;
  border-radius: 20px;
}

.display-section-title {
  color: #FF0000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-left: -147px;
}

.display-section-item {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-left: -75px;
}

.display-section-description {
  width: 350px;
  color: rgba(7, 2, 17, 0.60);
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}

.section-img-style {
  border-radius: 463px;
  border: 10px solid #F00;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  padding: 25px 25px 25px 25px;
  margin-left: 130px;
  margin-top: 20px;
}

.section-letter-title {
  color: #FF0000;
  font-size: 48px;
  font-weight: 700;
  margin-left: 180px;
}

.section-letter-description {
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-weight: 400;
  width: 276px;
  margin-left: 185px;
}

.section-letter-img {
  margin-left: 177px;

}

.section-gap-one {
  text-align: center;
}

.sectiom-gap-two {
  text-align: center;
}

#section-gap-three {
  text-align: justify;
}

/* five section related style */

.discount-section {
  text-align: center;
}

.discount-item-one {
  color: #070211;
  font-size: 20px;
  font-weight: 500;
}

.highlight-text {
  color: #F00;
}

.discount-item-two {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0;
}

.discount-item-three {
  width: 570px;
  color: rgba(7, 2, 17, 0.60);
  font-size: 17px;
  font-weight: 500;
  margin-top: -50px;
  margin-left: 500px;
}

.discount-img-one {
  width: 400px;
  height: 400px;
  background-image: url("../images/Rectangle\ 1.png");
  margin-left: 1060px;
  border-radius: 10px;
}

.discount-img-two {
  margin-left: -150px;
  margin-top: 50px;
}

.discount-img-three {
  background-image: url("../images/Rectangle\ 2.png");
  height: 230px;
  background-size: cover;
  margin: 0 105px;
  margin-left: 135px;
  border-top-right-radius: 10px;
}

.section-discount-main {
  background-color: #FFFFFF;
  margin-top: 150px;
  background-size: 700px;
  background-repeat: no-repeat;
}


/* grid six section related style */
.grid-section-main {
  margin-top: 100px;
  margin-left: 130px;
}

.grid-one {
  padding-right: 20px;
  padding-bottom: 20px;
}

.grid-title {
  color: #F00;
  font-size: 24px;
  font-weight: 500;
}

.grid-highlight{
  margin-top: -10px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}
.grid-description{ 
width: 896px;
margin-top: -30px;
color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
}

/* seven section related style */
.subscribe-main{
  background-color: #ff000010;
  width: 1320px;
  height: 500px;
  text-align: center;
  margin-top: 50px;
  margin-left: 130px;
  border-radius: 20px;
  padding-top: 90px;
}
.subscription-title{
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-top: 30px;
  }
  .subscription-description{
    width: 750px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-left: 300px;
    margin-top: -30px;
  }

.input-id{
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 216px;
  border-style: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.subscribe-btn{
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 38px;
  padding-right: 38px;
  background-color: #FF0000;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-style: none;
  margin-left: -8px;
}
